# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and distribution
build/
dist/
*.egg-info/

# Output directory for scraped data
outputs/

# cookies
src/igscraper/cookies*